
body {
	padding: 0px;
	margin: 0px; 

font-family: "PT Sans","Arial", sans-serif;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
line-height: 21px;
color:#333333;

background-color: #dcdcdc;
background-position: center;
background-repeat: no-repeat;

}

ul,li {
	margin: 0px;
	padding: 0px;

}




.visually-hidden {
	visibility: hidden;
	display:none;
}

a { 
	text-decoration: none;
}

.header,
 main, 
 footer {
	width: 1200px;
	margin: 0px auto;
	background-color: #ffffff;
	box-shadow: 0px 10px 10px #888888;

	
}



.main-nav-logo {
	position: absolute;
	left: 500px;

}



.nav-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}


.nav-item {
	width: 239px;
	height: 56px;
	background-color: yellow;
	

}

.info{
	padding-left: 60px;

}

.nav-item a{
	color: #000000;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;

}





.welcome {
	background-image: url("img/background photo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 52px;
}

.welcome-title { 
	text-align: center;

}


.polygon {
	height:57px;
	background-image: url("img/polygon.png");
	background-size: cover;
}

/*5 prichin*/

.title {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	
}





.reasons {
	line-height: 26px;

}


/*spisok 5 prichin*/

/* flex*/

 .reason-forstay.blue { 
	background-repeat: no-repeat;
	color: #ffffff;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 1200px;



}



 .reason-forstay.grey {
	width: 400px;
	background-color: #eeeeee;
	background-size: 1200px 256px;
	background-repeat: no-repeat;
	text-align: center;
	width: 400px;

}




.reason-forstay-list {
	list-style: none;
	display: flex;
	
}



.wrap{
 	flex-wrap: wrap;

}


.reason-wrapper {
	width: 400px;
	text-align: center;
	padding-bottom: 100px;
	background-color:#81b3d2;
	background-size: 400px 256px;

}

.second {
	order: 1;
}


.advantages-list {
	display: flex;
	list-style: none;

}


.foto-wrapper {
	width: 800px;

}

.foto-wrapper img {
	display: block;


}

.reason-forstay-list h2 {
	font-size: 21px;
	font-weight: 700;


}
.advantages-list h3,
.reason-forstay-list h3 {
	line-height: 21px;
	font-size: 21px;
	font-weight: 700;
	text-align: center;

} 

/* acticle advantages*/

.bg-living {
	width: 75px;
	height: 76px; 
	background-image:url("img/icon-1.svg");
	background-repeat: no-repeat;

}

.bg-eat {
	width: 74px;
	height: 76px; 
	background-image:url("img/icon-2.svg");
	background-repeat: no-repeat;
	
}


.bg-presents {
	width: 64px;
	height: 76px; 
	background-image:url("img/icon-3.svg");
	background-repeat: no-repeat;
}


.advantages {
	color: #000000;
}


.advantages-list div {
	margin: 0px auto;

}


.advantages-list li {
	padding:40px 72px;
	text-align:center;

}





/* zainteresovalis*/

.best-deals-forstay {
	position: relative;
	text-align: center;
}

.best-deals-forstay h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	
}

.sedona-bymap {
	padding-top:130px;
}

/* poisk*/

.search-wrapper {
	position: absolute;
	top:133px;
	left:0px;
	width: 100%;



}
.search {
	width: 568px;
	height: 480px;
	background-color: yellow;
	margin: 0px auto;

}
.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}




.form-line1 {
	padding-top: 55px;
	width: 500px;
	
}

.form-line2 {
	padding-top: 25px;
	padding-bottom: 25px;

	width: 500px;
	
}


.form-line3 {
	width: 500px;
	padding-bottom: 54px;
}


.hotel-search {
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	padding-top:15px;  
	padding-bottom: 33px;
	text-align: center;
	background-color:#766357;


}

.info {
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	margin-right: 8px;
	
}

.text {
	width: 309px;
	height: 38px;
	background-color: #f2f2f2;

}

.submit-button {
	color: #ffffff;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	background-color: #81b3d2;
	padding: 5px 120px;
	width: 450px;
}





/* footer*/



.footer {
	display: flex;
	justify-content: space-around;
	background-color: #f4f2ef;

}



footer .visit-sedona {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;

}

.social-button {
	list-style: none;
	display: flex;
	justify-content: space-between;




}

.visit {
	padding-top: 51px;
}



.button {
	width: 60px;
	padding-top: 35px;

}

.button .logo-social{
	background-color:#81b3d2;
	padding: 17px 15px;

}

.reference {
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;	
	padding-right: 8px;
}

.academy {
	display: flex;
	padding-top:35px;

}



/* css for catalog */


.catalog {
	background-color: #fefefe;

}


.filters-wrapper {
	background-image: url("img/filter_background.jpg");
	background-repeat:no-repeat;
	background-size: 1200px 800px;
	background-position: center;
	display: flex;	
}



.hotels-list-items {
	padding: 60px;
}


.list-filters-checkboxes {
	list-style: none;

}

.list-filters-checkboxes li {
	padding: 9px 0px;
}






.fieldset-filters {
	 color: #ffffff;
	 border:0;
	 margin: 25px;



	
}


.hotels-list {
	list-style: none;
	margin:0px;
}

.hotel-wrapper li {
	border-top: 1px solid grey;

}

.hotels-list-items.last {
	border-bottom:1px solid grey;


}


.legend {
	font-size: 16px;
	text-transform: uppercase;

}

.section-prices {
	color: #ffffff;
	margin-left: 400px;
	padding-right:70px;

}

.price-fornight {
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;

}


.prices{
	border: 2px solid white;
	width: 314px;
	display: flex;
	padding: 5px;
	text-align: center;


}


.price-amount {
	display: block;
	width:50%;
	padding-right: 10px;
	padding-left: 8px;
}

.from {
	border-right: 2px solid white;
}


.range {
	display: block;
	padding-top: 20px;

}

.show-button {
	background-color: transparent;
	border: 2px solid white;
	color: #ffffff;
	padding: 5px 35px;

}


.results-text {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	padding-left:70px;

}

.results {
	display: flex;
}



.results-sorting {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 400px;
	padding-top: 25px;
	margin-left: 34px;

}

.results-selected {
	color: #81b3d2;
}






.book-button {	
	text-transform: uppercase;
	background-color:#766357;
	color: #ffffff;
	border: none;
	padding: 7px;
	margin-left: 5px;


}

.link-about {
	color: #ffffff;
	text-transform: uppercase;
	background-color:#81b3d2;
	padding: 7px;

}

.hotels-items {
	margin-left: 20px;
	
}


.hotels-list-items h3 {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;


	
}

.hotels-list-items p {
	margin:5px 0px;

}

.hotels-list-items{
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;

}


.stars {
	height: 17px;
	width: 20px;
	display:block;
	background-image: url(img/star.svg);
	background-repeat: repeat;
	margin-bottom: 20px;
}

.stars4 {
	width: 70px;
}


.stars3 {
	width: 55px;
}


.stars2 {
	width: 35px;
}


.marks{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: 576px;
	
	
}



.results-arrow {
	border: none;
	background-color: transparent;
	padding-left: 0px;
	

}

.first {
	margin:1px;
}

.result-arrow-wrapper {
	display: flex;
	width: 509px;
	justify-content: flex-end;

}

.rating {
	height: 27px;
	width: 110px;
	background-color:#f2f2f2;
	color: #666666;
	line-height: 21px;
	text-transform: uppercase;
	text-align: center;
}




